<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>审核信息查看</title>
</head>
<body>
    <h1>上传的用户信息</h1>
    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>申请原因</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prod : ${information}">
                <td th:text="${prod.name}">Onions</td>
                <td th:text="${prod.sex}">2.41</td>
                <td th:text="${prod.age}">2.41</td>
                <td th:text="${prod.reason}">2.41</td>
            </tr>
        </tbody>
    </table>
</body>
</html>